.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1c5050;
}

.search {
  margin-left: 2rem;
}

.logo {
  background-color: #1c5050;
  color: aliceblue;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.user {
  display: flex;
  font-size: 1.2rem;
  margin-right: 25px;
}

.user-icon {
  margin-left: 25px;
}

.cat-cont {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
  background-color: white;
}

.cat {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #2d3333;
  margin: 1.5rem 0;
  padding: 0 20px;
  transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.cat:hover {
  box-shadow: inset 100px 0 0 0 #1c5050;
  color: white;
}

.mob-cont {
  display: none;
  padding: 35px 0px 35px 35px;
  align-items: center;
  justify-content: space-between;
}

.mob-logo-cont {
  display: flex;
  align-items: center;
}

.mob-menu {
  font-size: 32px;
  color: #1c5050;
  cursor: pointer;
}

.mob-logo {
  font-size: 32px;
  color: #1c5050;
  margin-left: 20px;
}

@media screen and (max-width: 1100px) {

  .logo-cont,
  .cat-cont {
    display: none;
  }

  .mob-cont {
    display: flex;
    padding: 20px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    align-self: center;

  }

}

@media screen and (max-width: 920px) {
  .mob-cont {
    padding: 25px 25px 10px 25px;
  }

  .mob-menu {
    font-size: 26px;
  }

  .mob-logo {
    font-size: 22px;

  }
}