/* .input-cont {
  display: flex;
}

.input-cont input {
  margin-right: 10px;
}

.input-cont span {
  font-size: 18px;
} */


.color-title {
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}


.color {
  margin-bottom: 50px;
}

.input-cont,
.input-cont-all {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  align-items: center;
}

.input-cont-all {
  opacity: 0.6;
}

.price-title {
  padding-left: 4px;
  margin-bottom: 10px;
  font-size: 20px;
}

.input-cont input,
.input-cont-all input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.price {
  margin-bottom: 50px;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

.input-cont:hover input~.checkmark,
.input-cont-all:hover input~.checkmark {
  background-color: #ccc;
}

.input-cont input:checked~.checkmark,
.input-cont-all input:checked~.checkmark {
  background-color: rgb(8, 75, 75);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.input-cont input:checked~.checkmark::after,
.input-cont-all input:checked~.checkmark::after {
  display: block;
}

.input-cont .checkmark::after,
.input-cont-all .checkmark::after {
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

@media screen and (max-width: 1300px) {

  .color-title,
  .price-title {
    font-size: 18px;
  }

  .input-cont,
  .input-cont-all {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .color {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 920px) {

  .color-title,
  .price-title {
    font-size: 16px;
  }

  .input-cont,
  .input-cont-all {
    font-size: 14px;
    padding-left: 30px;
  }

  .checkmark {
    height: 17px;
    width: 17px;
  }

}

@media screen and (max-width: 560px) {

  .color-title {
    font-size: 14px;
  }

  .input-cont,
  .input-cont-all {
    font-size: 12px;
  }

  .checkmark {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 330px) {

  .color-title {
    font-size: 13px;
  }

  .input-cont,
  .input-cont-all {
    font-size: 10px;
    padding-left: 20px;
  }

  .checkmark {
    height: 10px;
    width: 10px;
  }
}