.filter-cont {
  min-width: 10%;
  margin-left: 4rem;
  position: sticky;
  top: 150px;
  z-index: 1000;
}

.cat-cont {
  display: none;
}

.price {
  margin-bottom: 30px;
}

@media screen and (max-width: 1700px) {
  .filter-cont {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1300px) {
  .filter-cont {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .filter-cont {
    display: none;
  }
}
