.main-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 15% 65% 15%;
  align-items: start;
  margin-left: 60px;
  margin-bottom: 50px;
}
/* 
.main-cont {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 15% 65% 15%;
  align-items: start;
  margin-left: 60px;
  margin-bottom: 50px;
} */
