.category-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 25px;
}

.title {
  font-size: 44px;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.desc {
  text-align: center;
  width: 40%;
  font-size: 18px;
  padding-bottom: 20px;
}

.sort-cont {
  width: 9em;
  margin-top: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .category-cont {
    margin-right: 0;
  }
}
