.card-cont {
  max-width: 280px;
  padding: 15px 15px;
  border: 1px solid rgba(192, 214, 221, 0.281);
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

img {
  margin-bottom: 10px;
  width: 220px;
  height: 230px;
  z-index: 100;
  object-fit: cover;
}

h3,
p,
h2 {
  text-align: center;
}

.info-cont {
  margin-bottom: 7px;
}

.name {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.desc {
  margin-bottom: 8px;
  font-size: 18px;
  height: 80px;
  overflow: hidden;
}

.price {
  margin-bottom: 10px;
  display: inline-block;

}

.disc {
  display: inline-block;
}

.rrp {
  display: inline-block;
  font-size: 12px;
  margin-left: 6px;
  color: hsla(168, 83%, 21%, 0.845);
}

.btn {
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  color: white;
  background-color: rgba(184, 135, 11, 0.843);
  cursor: pointer;
}

.stars-cont {
  text-align: center;
}

.star {
  color: rgba(184, 135, 11, 0.881);
}

@media screen and (max-width:1500px) {
  .card-cont {
    max-width: 310px;
    padding: 15px 15px;
    border: 1px solid rgba(192, 214, 221, 0.281);
    text-align: center;
    display: inline-block;
  }
}