.tiles-cont {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  margin-left: 20px;
  margin-bottom: 25px;
  gap: 20px;
}

.no-products {
  position: absolute;
  transform: translate(-50%, 50%);
}

@media screen and (max-width:1700px) {
  .tiles-cont {
    grid-template-columns: repeat(3, 1fr);

  }
}

@media screen and (max-width:1300px) {
  .tiles-cont {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width:1100px) {
  .tiles-cont {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;

  }
}

@media screen and (max-width:920px) {
  .tiles-cont {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 30px;
    padding: 0 40px;
  }
}