.tiles-cont {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  margin-left: 20px;
  margin-bottom: 25px;
  gap: 25px;
}

.no-products {
  position: absolute;
  transform: translate(-50%, 50%);
}
