.sort-cont {
  min-width: 12%;
  text-align: center;
  position: sticky;
  top: 150px;
}

.counter {
  margin-bottom: 20px;
}

.select {
  border: 1px solid #1c50504a;
  padding: 10px 10px;
  font-size: 16px;
}
