.btn-more {
  border: none;
  border-radius: 3px;
  padding: 20px 30px;
  color: white;
  background-color: #3c7272;
  cursor: pointer;
  width: 200px;
  font-size: 22px;
  align-content: center;
}

.footer {
  margin: 150px 0 20px 0;
}

.footer-link {
  cursor: pointer;
  margin: 0 5px;
  color: rgb(1, 88, 59);
}
